
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.assets.cache
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.assets.cache
ASPNETCore/ASPNETCore/obj/ASPNETCore.csproj.nuget.g.props
ASPNETCore/ASPNETCore/obj/ASPNETCore.csproj.nuget.dgspec.json
ASPNETCore/.vs/ASPNETCore/v16/.suo
ASPNETCore/.vs/ASPNETCore/DesignTimeBuild/.dtbcache.v2
ASPNETCore/.vs/ASPNETCore/v16/.suo
ASPNETCore/ASPNETCore/obj/ASPNETCore.csproj.nuget.dgspec.json
ASPNETCore/ASPNETCore/obj/ASPNETCore.csproj.nuget.g.props
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.assets.cache
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.csprojAssemblyReference.cache
ASPNETCore/ASPNETCore/obj/project.assets.json
ASPNETCore/ASPNETCore/obj/project.nuget.cache
ASPNETCore/.vs/ASPNETCore/v16/.suo
ASPNETCore/ASPNETCore/obj/ASPNETCore.csproj.nuget.dgspec.json
ASPNETCore/ASPNETCore/obj/ASPNETCore.csproj.nuget.g.props
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.assets.cache
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.csprojAssemblyReference.cache
ASPNETCore/ASPNETCore/obj/project.assets.json
ASPNETCore/ASPNETCore/obj/project.nuget.cache
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.assets.cache
ASPNETCore/.vs/ASPNETCore/v16/.suo
ASPNETCore/ASPNETCore/bin/Debug/netcoreapp3.1/ASPNETCore.dll
ASPNETCore/ASPNETCore/bin/Debug/netcoreapp3.1/ASPNETCore.pdb
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.dll
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.pdb
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.csprojAssemblyReference.cache
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.dll
ASPNETCore/ASPNETCore/obj/Debug/netcoreapp3.1/ASPNETCore.pdb
