@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<div id="linechart"></div>

<div id="columnchart"></div>

@section scripts{ 
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>
        $(document).ready(function () {
            var url = 'https://localhost:44320/api/Employee';

            //Get Employee From API
            $.getJSON(url, response => {
                console.log(response)
                let employees = response.map(employee => {
                    return {
                        gender: employee.gender,
                        year: employee.birthDate.substr(0,4)
                    }
                })
                // get Employee Birth Year
                let employeesBirthYear = []
                employees.map(employee => {
                    if (employeesBirthYear.includes(employee.year)) {
                        return false
                    } else {
                        employeesBirthYear.push(employee.year)
                    }
                })
                employeesBirthYear.sort((a, b) => a - b)               
                console.log(employeesBirthYear)

                // push to array
                let menBirthYear = [], womenBirthYear = []
                employeesBirthYear.forEach(yearEl => {
                    let menCount = 0, womenCount = 0
                    employees.forEach(employeeEl => {
                        if (employeeEl.gender == "Pria" && employeeEl.year == yearEl) {
                            menCount++
                        }
                        else if (employeeEl.gender == "Wanita" && employeeEl.year == yearEl) {
                            womenCount++
                        }
                    })
                    menBirthYear.push(menCount)
                    womenBirthYear.push(womenCount)
                    //console.log(menBirthYear)
                    //console.log(womenBirthYear)
                })

                // Line Chart
                let lineOptions = {
                    series: [
                        {
                            name: "Pria",
                            data: menBirthYear
                        },
                        {
                            name: "Wanita",
                            data: womenBirthYear
                        }
                    ],
                    chart: {
                        height: 350,
                        type: 'line',
                        dropShadow: {
                            enabled: true,
                            color: '#000',
                            top: 18,
                            left: 7,
                            blur: 10,
                            opacity: 0.2
                        },
                        toolbar: {
                            show: false
                        }
                    },
                    colors: ['#77B6EA', '#545454'],
                    dataLabels: {
                        enabled: true,
                    },
                    stroke: {
                        curve: 'smooth'
                    },
                    title: {
                        text: 'Total Employee per Year',
                        align: 'left'
                    },
                    grid: {
                        borderColor: '#e7e7e7',
                        row: {
                            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                            opacity: 0.5
                        },
                    },
                    markers: {
                        size: 1
                    },
                    xaxis: {
                        categories: employeesBirthYear,
                        title: {
                            text: 'Year'
                        }
                    },
                    yaxis: {
                        title: {
                            text: 'Total'
                        },
                        min: 0,
                        max: 10
                    },
                    legend: {
                        position: 'top',
                        horizontalAlign: 'right',
                        floating: true,
                        offsetY: -25,
                        offsetX: -5
                    }
                };

                // column Chart
                var columnOptions = {
                    series: [
                        {
                            name: "Pria",
                            data: menBirthYear
                        },
                        {
                            name: "Wanita",
                            data: womenBirthYear
                        }
                    ],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: employeesBirthYear,
                        title: {
                            text: 'Year'
                        }
                    },
                    yaxis: {
                        title: {
                            text: 'Total'
                        },
                        min: 0,
                        max: 10
                    },
                    fill: {
                        opacity: 1
                    }
                };



                // Line Chart Object
                var lineChart = new ApexCharts(
                    document.querySelector("#linechart"),
                    lineOptions
                );

                // Column Chart Object
                var columnChart = new ApexCharts(
                    document.querySelector("#columnchart"),
                    columnOptions
                );

                
                // Line Chart Render
                lineChart.render();

                // Column Chart Render
                columnChart.render();
            })
            
        })

        
    </script>


}